.header {
  top: 0%;
  background-color: #3366cc;
  height: 40px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  color: white;
}

.a_header {
  color: white;
}
